body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
  }
.sc-message--text, .sc-user-input--text {
    font-family: 'Roboto';  
}
.sc-header--team-name {
    pointer-events: none;
}
  
.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}


body{
    background-color: #efefef;
  }
  
  
  .App-header {
    background-color: #26474e;
    padding: 2px;
    color: white;
    margin: 0px;
  }
  
  .App-intro {
    font-size: large;
  }
  .App-title{
    font-family: monospace;
    font-size: 1.2em;
  }

  .App-header{
      text-align: center;
      background-color: #2c57a9;
      padding: 10px;
      color: white;
      margin: 0px;
  }
  .logout{
    float: right;
    cursor: pointer;
  }
  .sc-user-input--emoji-icon-wrapper{
      display: none;
  }
.features{
    font-family: "Open Sans", sans-serif;
    margin-top: 24px;
}
  .features i {
    margin: 0 20px 0 0;
}
.features i {
    margin: 0 20px 0 0;
}
.bg-skin {
    background: #4e51a2;
}
.circled {
    background: #4e51a2;
}
.circled {
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    width: 1.6em;
    height: 1.6em;
    text-align: center;
    line-height: 1.6em;
}
.float-left {
    float: left;
}
.features h5 {
    line-height: 2em;
    padding-top: 10px;
    font-size: 17px;
    vertical-align: middle;
}
.features p {
    color: #7d5353;
}